includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 9
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
    tmpDir: var/cache/phpstan
