parameters:

    level: max
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true

    paths:
        - src/
        - tests/

    excludePaths:
        - tests/bootstrap.php

    tmpDir: var/cache/phpstan
