<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}{% endblock %}

    <title>
      {% block title %}Stockflow{% endblock %}
    </title>

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app', attributes = { nonce: csp_nonce('script') }) }}
      {% endblock %}
    {% endblock %}

    {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}

    {% if frankenphpHotReload %}
      <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
      <script
        src="https://cdn.jsdelivr.net/npm/idiomorph"
        nonce="{{ csp_nonce('script') }}"
      ></script>
      <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm"
        nonce="{{ csp_nonce('script') }}"
      ></script>
    {% endif %}
  </head>

  {% block body %}{% endblock %}
</html>
