{% extends 'layout/two_column.html.twig' %}

{% block sidebar %}
  <ul class="space-y-1">
    <li>
      <a
        href="{{ path('app_dev_users') }}"
        class="block px-3 py-2 bg-slate-100 rounded-lg text-sm font-medium text-slate-900"
      >
        ユーザー管理
      </a>
    </li>
  </ul>
{% endblock %}
