{#
  Dev user new page (UserDevController::new).

  Variables from the controller:
  - sidebarLinks: DevSidebarLink[] parent sidebar navigation links
  - sidebarSubLinks: DevSidebarLink[] sub links for the current section
  - currentLink: DevSidebarLinkId active parent sidebar link id
  - email: string submitted email for redisplay (empty on GET)
  - error: string|null error code for field highlighting (message via flash)
#}

{% extends 'layout/two_column.html.twig' %}

{% block title %}{{ 'dev.user.create.title'|trans }}{% endblock %}

{% block sidebar %}
  {% include 'components/sidebar.html.twig' with {
    sidebarLinks: sidebarLinks,
    sidebarSubLinks: sidebarSubLinks,
    currentLink: currentLink,
  } only %}
{% endblock %}

{% block main %}
  <div class="flex flex-col flex-1 min-h-0 pt-3">
    {% include 'components/flash_messages.html.twig' %}

    <header class="shrink-0 px-4 pb-2">
      {% include 'dev/user/_new_header.html.twig' only %}
    </header>

    <section
      class="
        flex-1 overflow-y-auto
        px-4
        pb-[max(0.75rem,env(safe-area-inset-bottom))]
      "
    >
      {% include 'dev/user/_new_form.html.twig' with {
        email: email,
        error: error,
      } only %}
    </section>
  </div>
{% endblock %}
