{#
  Centered page layout (extends only).

  Blocks:
  - content: vertically centered main content
#}
{% extends 'base.html.twig' %}

{% block body %}
  <body class="bg-slate-50 text-slate-900 antialiased">
    <main class="flex flex-col items-center justify-center min-h-screen px-4 py-12">
      {% block content %}{% endblock %}
    </main>
  </body>
{% endblock %}
