{#
  List page layout for two_column main (embed only).

  Blocks:
  - list_header: page heading (padded by layout)
  - list_body: data presentation (usually list_table embed)
  - list_footer: list navigation (usually pagination include)
#}
<div class="flex flex-col flex-1 min-h-0 pt-3">
  {% include 'components/flash_messages.html.twig' %}

  <header class="shrink-0 px-4 pb-6 sm:px-6">
    {% block list_header %}{% endblock %}
  </header>

  <section class="flex flex-col flex-1 min-h-0 bg-white border-y border-slate-200">
    <div class="flex flex-col flex-1 min-h-0">
      {% block list_body %}{% endblock %}
    </div>

    <footer class="shrink-0 pb-3">
      {% block list_footer %}{% endblock %}
    </footer>
  </section>
</div>
